pyngrok==7.1.6
streamlit==1.35.0
kaggle==1.6.14
kagglehub==0.2.6
matplotlib==3.7.1
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
pandas==2.0.3
pandas-datareader==0.10.0
pandas-gbq==0.19.2
pandas-stubs==2.0.3.230814
plotly==5.15.0